.clicked {
  width: 1rem;
  text-decoration: none;
  color: black;
  font-size: large;
  display: inline-block;
  padding: 2rem;
  border-radius: 1rem;
  transition: 0.3s;
  text-align: center;
}

.clicked:hover {
  font-weight: bold;
  background-color: rgb(126, 204, 255);
}