.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exam {
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
}

.exam:hover {
    transition: 0.2s;
    background-color: rgb(126, 204, 255);
}