.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    padding: 5rem;
    font-size: 2rem;
}

.test:hover {
    font-size: 4rem;
    background-color: rgb(89, 142, 255);
    padding: 5.5rem;

}